
<ul>
	<% @wiki.collaborators.each do |collaborator| %>
		<li>
			<p><%= collaborator.user.email %> <%= link_to "", "/wikis/#{@wiki.id}/collaborators/#{collaborator.id}", method: :delete, class: 'glyphicon glyphicon-remove' %> </p>
		</li>
	<% end %>
</ul>